.modal-alert {
  &_container {
    // Size
    width: 500px;
    min-height: 200px;

    // Position
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;

    // Container
    border-radius: 15px;
    padding: 15px 25px;
    background-color: white;

    // Animations
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }

  @media screen and (max-width: 500px) {
    &_container {
      width: 96%;
    }
  }

  &_footer {
    height: 100%;

    button {
      cursor: pointer;
      border: 1.5px solid;
      background: rgb(255, 255, 255);
      border-color: rgb(46, 46, 46);
      width: 140px;
      height: 100%;
      transition: all ease 0.25s;
      border-radius: 5px;

      &:hover {
        background: rgb(46, 46, 46);
        color: rgb(255, 255, 255);
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
