$breakpoint-extra-large: 1600px;
$breakpoint-large: 1366px;
$breakpoint-medium: 1024px;
$breakpoint-small: 768px;
$breakpoint-extra-small: 460px;

@mixin extra-large-screen {
  @media screen and (min-width: $breakpoint-extra-large) {
    @content;
  }
}

@mixin large-screen {
  @media screen and (min-width: $breakpoint-large) {
    @content;
  }
}

@mixin medium-screen {
  @media screen and (min-width: $breakpoint-medium) {
    @content;
  }
}

@mixin small-screen {
  @media screen and (min-width: $breakpoint-small) {
    @content;
  }
}

@mixin extra-small-screen {
  @media screen and (min-width: $breakpoint-extra-small) {
    @content;
  }
}
